<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="icon" type="image/png" href="image/favicon.png">
    <title>groupie-tracker</title>
</head>
<body>
    <div class="container">
        <h1><strong>artists</strong></h1>
        <div class="artist-grid">
            {{range .}}
                {{if (ne .Id 21) }}
                    <div class="artist-item">
                        <div class="box">
                            <div class="content">
                                <img src="{{.Image}}" alt="{{.Name}}">
                                <h2>{{.Name}}</h2>
                                <a href="/artist/{{.Id}}">see artist</a>
                            </div>
                        </div>
                    </div>
                {{end}}
            {{end}}
        </div>
    </div>
</body>
</html>